In [ ]:
#Milestone 1

In [1]:
import pandas as pd

In [4]:
file_path = '/content/imdb_top_1000.csv.xls'
movies_df = pd.read_csv(file_path)

In [ ]:
print(movies_df.info())
print(movies_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB
None
                                         Poster_Link  \
0  https://m.media-amazon.com/images/M/MV5BMDFkYT...
1  https://m.media-amazon.com/images/M/MV5BM2MyNj...
2  https://m.media-amazon.com/images/M/MV5BMTMxNT...
3  https://m.media-amazon.com/images/M/MV5BMWMwMG...
4  https://m.media-amazon.com/images/M/MV5BMWU4N2...

               Series_Title Released_Year Certificate  Runtime  \
0  The Shawshank Redemption          1994           A  142 min
1             The Godfather          1972           A  175 min
2           The Dark Knight          2008          UA  152 min
3    The Godfather: Part II          1974           A  202 min
4              12 Angry Men          1957           U   96 min

                  Genre  IMDB_Rating  \
0                 Drama          9.3
1          Crime, Drama          9.2
2  Action, Crime, Drama          9.0
3          Crime, Drama          9.0
4          Crime, Drama          9.0

                                            Overview  Meta_score  \
0  Two imprisoned men bond over a number of years...        80.0
1  An organized crime dynasty's aging patriarch t...       100.0
2  When the menace known as the Joker wreaks havo...        84.0
3  The early life and career of Vito Corleone in ...        90.0
4  A jury holdout attempts to prevent a miscarria...        96.0

               Director           Star1           Star2          Star3  \
0        Frank Darabont     Tim Robbins  Morgan Freeman     Bob Gunton
1  Francis Ford Coppola   Marlon Brando       Al Pacino     James Caan
2     Christopher Nolan  Christian Bale    Heath Ledger  Aaron Eckhart
3  Francis Ford Coppola       Al Pacino  Robert De Niro  Robert Duvall
4          Sidney Lumet     Henry Fonda     Lee J. Cobb  Martin Balsam

            Star4  No_of_Votes        Gross
0  William Sadler      2343110   28,341,469
1    Diane Keaton      1620367  134,966,411
2   Michael Caine      2303232  534,858,444
3    Diane Keaton      1129952   57,300,000
4    John Fiedler       689845    4,360,000

In [5]:
relevant_columns = ['Series_Title', 'Genre', 'Director', 'IMDB_Rating']
movies_df = movies_df[relevant_columns]

In [6]:
print(movies_df.head())

               Series_Title                 Genre              Director  \
0  The Shawshank Redemption                 Drama        Frank Darabont
1             The Godfather          Crime, Drama  Francis Ford Coppola
2           The Dark Knight  Action, Crime, Drama     Christopher Nolan
3    The Godfather: Part II          Crime, Drama  Francis Ford Coppola
4              12 Angry Men          Crime, Drama          Sidney Lumet

   IMDB_Rating
0          9.3
1          9.2
2          9.0
3          9.0
4          9.0

In [7]:
movies_df['Genre'].fillna('Unknown', inplace=True)
movies_df['Director'].fillna('Unknown', inplace=True)

<ipython-input-7-6fa4672f13bf>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  movies_df['Genre'].fillna('Unknown', inplace=True)
<ipython-input-7-6fa4672f13bf>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  movies_df['Director'].fillna('Unknown', inplace=True)

In [8]:
movies_df.drop_duplicates(subset=['Series_Title'], inplace=True)

In [9]:
print(movies_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 999 entries, 0 to 999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Series_Title  999 non-null    object
 1   Genre         999 non-null    object
 2   Director      999 non-null    object
 3   IMDB_Rating   999 non-null    float64
dtypes: float64(1), object(3)
memory usage: 39.0+ KB
None

In [10]:
import numpy as np

In [11]:
top_100_movies = movies_df.sample(100, random_state=42)

In [12]:
user_ratings = {
    'User_1': np.random.randint(1, 6, size=100),
    'User_2': np.random.randint(1, 6, size=100),
    'User_3': np.random.randint(1, 6, size=100),
}

In [13]:
ratings_df = pd.DataFrame(user_ratings)
ratings_df['Series_Title'] = top_100_movies['Series_Title'].values

In [14]:
rated_movies = pd.merge(ratings_df, movies_df, on='Series_Title')

In [15]:
print(rated_movies.head())

   User_1  User_2  User_3                 Series_Title  \
0       4       3       5  The Best Years of Our Lives
1       5       1       3    Hedwig and the Angry Inch
2       4       5       5                    Gone Girl
3       5       3       1                The Red Shoes
4       3       5       2              Le Petit Prince

                         Genre               Director  IMDB_Rating
0          Drama, Romance, War          William Wyler          8.0
1         Comedy, Drama, Music  John Cameron Mitchell          7.7
2     Drama, Mystery, Thriller          David Fincher          8.1
3        Drama, Music, Romance         Michael Powell          8.1
4  Animation, Adventure, Drama           Mark Osborne          7.7

In [16]:
movies_df.to_csv('preprocessed_movies.csv', index=False)
rated_movies.to_csv('user_rated_movies.csv', index=False)

In [17]:
print("Preprocessed data saved successfully!")

Preprocessed data saved successfully!

In [ ]:
#Milestone 2

In [19]:
!pip install scikit-surprise

Collecting scikit-surprise
  Downloading scikit_surprise-1.1.4.tar.gz (154 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 154.4/154.4 kB 3.0 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from scikit-surprise) (1.4.2)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.11/dist-packages (from scikit-surprise) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from scikit-surprise) (1.13.1)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (pyproject.toml) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.4-cp311-cp311-linux_x86_64.whl size=2505173 sha256=4e27674b9ad0045ba052ccede25dd0b053be9a0d5fb8490ef3469481a550df6c
  Stored in directory: /root/.cache/pip/wheels/2a/8f/6e/7e2899163e2d85d8266daab4aa1cdabec7a6c56f83c015b5af
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.4

In [25]:
movies_df = pd.read_csv('preprocessed_movies.csv')
rated_movies = pd.read_csv('user_rated_movies.csv')
print(movies_df.head())
print(rated_movies.head())

               Series_Title                 Genre              Director  \
0  The Shawshank Redemption                 Drama        Frank Darabont
1             The Godfather          Crime, Drama  Francis Ford Coppola
2           The Dark Knight  Action, Crime, Drama     Christopher Nolan
3    The Godfather: Part II          Crime, Drama  Francis Ford Coppola
4              12 Angry Men          Crime, Drama          Sidney Lumet

   IMDB_Rating
0          9.3
1          9.2
2          9.0
3          9.0
4          9.0
   User_1  User_2  User_3                 Series_Title  \
0       4       3       5  The Best Years of Our Lives
1       5       1       3    Hedwig and the Angry Inch
2       4       5       5                    Gone Girl
3       5       3       1                The Red Shoes
4       3       5       2              Le Petit Prince

                         Genre               Director  IMDB_Rating
0          Drama, Romance, War          William Wyler          8.0
1         Comedy, Drama, Music  John Cameron Mitchell          7.7
2     Drama, Mystery, Thriller          David Fincher          8.1
3        Drama, Music, Romance         Michael Powell          8.1
4  Animation, Adventure, Drama           Mark Osborne          7.7

In [26]:
ratings_melted = rated_movies.melt(id_vars=['Series_Title'],
                                   var_name='User',
                                   value_name='Rating')
print(ratings_melted.head())

                  Series_Title    User Rating
0  The Best Years of Our Lives  User_1      4
1    Hedwig and the Angry Inch  User_1      5
2                    Gone Girl  User_1      4
3                The Red Shoes  User_1      5
4              Le Petit Prince  User_1      3

In [31]:
ratings_data = rated_movies[['Series_Title', 'IMDB_Rating', 'User_1', 'User_2', 'User_3']]
long_format_ratings = ratings_data.melt(id_vars=['Series_Title', 'IMDB_Rating'],
                                        var_name='User_ID',
                                        value_name='Rating')
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
long_format_ratings['Series_Title'] = encoder.fit_transform(long_format_ratings['Series_Title'])
print(long_format_ratings.head())

   Series_Title  IMDB_Rating User_ID  Rating
0            75          8.0  User_1       4
1            34          7.7  User_1       5
2            31          8.1  User_1       4
3            86          8.1  User_1       5
4            45          7.7  User_1       3

In [33]:
from surprise import Dataset, Reader
from surprise import SVD
from surprise.model_selection import train_test_split
from surprise import accuracy
reader = Reader(rating_scale=(1, 10))
data = Dataset.load_from_df(long_format_ratings[['User_ID', 'Series_Title', 'Rating']], reader)
trainset, testset = train_test_split(data, test_size=0.2, random_state=42)
svd = SVD()
svd.fit(trainset)
predictions = svd.test(testset)
rmse = accuracy.rmse(predictions)
print(f'RMSE: {rmse}')

RMSE: 1.4180
RMSE: 1.4179645772598093

In [36]:
from surprise import KNNBasic
from surprise import Reader, Dataset
from surprise.model_selection import train_test_split
from surprise import accuracy

In [37]:
sim_options = {'name': 'cosine', 'user_based': False}
item_based_model = KNNBasic(sim_options=sim_options)
item_based_model.fit(trainset)
predictions = item_based_model.test(testset)
item_based_rmse = accuracy.rmse(predictions)
print(f'Item-based Collaborative Filtering RMSE: {item_based_rmse}')

Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 1.4541
Item-based Collaborative Filtering RMSE: 1.4540586351146827

In [39]:
item_based_model = KNNBasic(sim_options={'user_based': False})
item_based_model.fit(trainset)
item_based_rmse = accuracy.rmse(item_based_model.test(testset))
print(f'Item-based Collaborative Filtering RMSE: {item_based_rmse}')

Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 1.4841
Item-based Collaborative Filtering RMSE: 1.4840999092837164

In [44]:
from surprise import KNNBasic
from surprise import Reader, Dataset
from surprise.model_selection import train_test_split
from surprise import accuracy
reader = Reader(rating_scale=(1, 10))
data = Dataset.load_from_df(long_format_ratings[['User_ID', 'Series_Title', 'Rating']], reader)
trainset, testset = train_test_split(data, test_size=0.2, random_state=42)
sim_options = {'name': 'cosine', 'user_based': True}
user_based_model = KNNBasic(sim_options=sim_options)
user_based_model.fit(trainset)
predictions = user_based_model.test(testset)
user_based_rmse = accuracy.rmse(predictions)
print(f'User-based Collaborative Filtering RMSE: {user_based_rmse}')

Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 1.8838
User-based Collaborative Filtering RMSE: 1.8838138978052124

In [45]:
user_based_rmse = accuracy.rmse(user_based_model.test(testset))
print(f'User-based Collaborative Filtering RMSE: {user_based_rmse}')
item_based_rmse = accuracy.rmse(item_based_model.test(testset))
print(f'Item-based Collaborative Filtering RMSE: {item_based_rmse}')

RMSE: 1.8838
User-based Collaborative Filtering RMSE: 1.8838138978052124
RMSE: 1.4841
Item-based Collaborative Filtering RMSE: 1.4840999092837164

In [47]:
from surprise import SVD
svd_model = SVD()
svd_model.fit(trainset)
svd_rmse = accuracy.rmse(svd_model.test(testset))
print(f'SVD Collaborative Filtering RMSE: {svd_rmse}')

RMSE: 1.4506
SVD Collaborative Filtering RMSE: 1.4505517536368875

In [51]:
rated_movies = pd.merge(ratings_df, movies_df, on='Series_Title')
def get_movie_recommendations(user_id, rated_movies, top_n=5):
    all_movies = movies_df['Series_Title'].values
    user_ratings = rated_movies[rated_movies[user_id] > 0]
    rated_movies_list = user_ratings['Series_Title'].values
    unrated_movies = [movie for movie in all_movies if movie not in rated_movies_list]

    predictions = []
    for movie in unrated_movies:
        pred = svd_model.predict(user_id, movie)
        predictions.append((movie, pred.est))
    predictions.sort(key=lambda x: x[1], reverse=True)
    top_movies = predictions[:top_n]

    return top_movies
user_id = 'User_1'
top_movies = get_movie_recommendations(user_id, rated_movies, top_n=5)
print(f"Top 5 Movie Recommendations for {user_id}:")
for movie, rating in top_movies:
    print(f"{movie} (Predicted Rating: {rating:.2f})")

Top 5 Movie Recommendations for User_1:
The Shawshank Redemption (Predicted Rating: 3.20)
The Godfather (Predicted Rating: 3.20)
The Dark Knight (Predicted Rating: 3.20)
The Godfather: Part II (Predicted Rating: 3.20)
12 Angry Men (Predicted Rating: 3.20)

In [52]:
print(f'SVD Collaborative Filtering RMSE: {svd_rmse}')
print(f'User-based Collaborative Filtering RMSE: {user_based_rmse}')
print(f'Item-based Collaborative Filtering RMSE: {item_based_rmse}')

SVD Collaborative Filtering RMSE: 1.4505517536368875
User-based Collaborative Filtering RMSE: 1.8838138978052124
Item-based Collaborative Filtering RMSE: 1.4840999092837164